<% include ./partials/header %>

<div class="container">

	<% if(!currentUser){ %>
		<h1 style="margin-bottom:25px" class="text-center">Welcome<name of current user></h1>
<%} else{ %>
		<h1 style="margin-bottom:25px" class="text-center">Welcome <%=currentUser.username%> <name of current user></h1>

<%}%> 

		<h2 class="text-center">Your Kitchen's Inventory</h2>

		<%	if(!ingredients.length >0){  %>
		  			 <a href="/inventory/new" class="text-center"><h2 class="alert alert-success text-center">Add you first ingredient to the inventory !</h2> </a>

		 <% } else { %>

		<div id="inventory" class="row" style="display:flex; flex-wrap:wrap">

<!-- Check if inventory is empty or not, and display accordingly -->
		   

				<%  ingredients.forEach(function(ingredient) {%>
					<div class="col-sm-4 col-md-3">
						<div  class="thumbnail inventory-thumbnail">
							<i class="fa fa-times pull-right fa-1x" aria-hidden="true" title="Delete ingredient"></i>

							<!--  Invisible delete form to send delete Ajax requests through the cross sign on the top right corner-->
		      					<form action="/inventory/<%=ingredient._id%>?_method=DELETE" method="POST" class="text-center deleteIngredientForm">		          
				                	<input  class="btn btn-danger" type="submit" value="Delete">
		                		</form>	 

		      				<!-- End of invisible delete form -->
							<img id="ingredient-img-invt" class="img-responsive img-circle" src="<%=ingredient.photoName%>" alt="Ingredient image">
							<div id="parent" class="caption text-center">
								<%if(ingredient.number){ %>
									<p id="state-of-inventory"> <span id="number-of-ingredient"><%=ingredient.number%></span> <%=ingredient.name%> left</p>
								<%}%>
                    			
                    			<% if(ingredient.exist){ %>
                    				<p> <%=ingredient.name%> In stock</p>
                    			<% } else if(!ingredient.exist && !ingredient.number){ %>
                    				<p class="out-of-stock">Out of stock</p>
                    			<%}%>

                    			<div  id="changeQuantitiesButtons" style="margin-bottom: 20px">

                    				<!-- Plus and minus signs to change quantities without reloading the page (SPA) -->
                    				<i class="fa fa-plus-circle fa-2x plus-button" aria-hidden="true" style="margin-right:40px" title="Add quantities"></i>
                    				<i class="fa fa-minus-circle fa-2x minus-button" aria-hidden="true" title="Subtract quantities"></i>	

		                    				<!-- Update Form that's gonna be hidden from the viewer, to send put Ajax requests through +/- signs -->
		                    			<form action="/inventory/<%=ingredient._id%>?_method=PUT" method="POST" class="formNew editIngredientForm form">
										        <!-- <form class="formNew form" action="/inventory/<%=ingredient._id%>" method="POST" > -->
										            <div class="form-group">
										                <label>Ingredient's picture:</label>
											            <input type="text" name="item[photoName]"  value="<%=ingredient.photoName%>" class="form-control">
										            </div>
										          <div class="form-group">
										             <label>Name:</label>
										              <input type="text" name="item[name]" value="<%=ingredient.name%>" class="form-control">
										          </div>
										          <div class="form-group">
										            <label>Number of items:</label>
										            <input type="number" name="item[number]" value="<%=ingredient.number%>" class="form-control" min="0">
										          </div>
										           <div class="form-group">
										            <div class="text-center"><label>Or check ingredient item if in stock:</label></div>

										            <%if(ingredient.exist){%>
										            	<input class="form-control" type="checkbox" name="item[checkbox]" item[checked] checked >
										            <% } else { %>
										            		<input class="form-control" type="checkbox" name="item[checkbox]">
										            <% } %>
										            
										          </div>                        
										          <button class="text-center btn btn-success pull-right" type="submit">Save changes</button>
      	</form>
      
		      							<!-- End of invisible update form -->
		      							
                    			</div>                    			                    								
								<p>
									<a id="show-btn" href="/inventory/<%=ingredient._id%>" class="btn btn-xs btn-primary">See more</a>
								</p>							
                			</div>	
						</div>				
					</div>
				<% }) %> 

        <% }  %> 

 			
		</div>
	</div>
	
<% include ./partials/footer %>